@import 'blocks/font.styl'
@import 'blocks/mixins.styl'
@import 'blocks/var.styl'

@import 'layout/l-grid.styl'

@import 'blocks/header.styl'
@import 'blocks/authorization.styl'

@import 'blocks/main.styl'

@import 'blocks/footer.styl'
@import 'blocks/bottom-line.styl'

@import 'blocks/btn.styl'
