html
    box-sizing border-box
    font-size 62.5%

*, *:before, *:after
    box-sizing inherit

body
    min-width 320px
    font-family MuseoSans, arial, verdana, sans-serif
    background-color white
    background-image url(../img/background.png)
    background-position left top
    font-weight 400
    font-style normal
    line-height normal
    color $grey-dark-color
    display flex
    flex-direction column
    min-height 100vh

.container
    position relative
    max-width 1120px
    padding-left 10px
    padding-right 10px
    margin-left auto
    margin-right auto

p
    &:not(:last-child)
        margin-bottom 7px

    &:last-child
        margin-bottom 0
