.authorization
    font-size 0

    &__btn
        margin-right 9px
        max-width 48%

        @media (min-width 768px)
            max-width 220px

        @media (min-width 992px)
            max-width 330px

        @media (min-width 1120px)
            max-width 390px

        &:last-child
            margin-right 0
