.bottom-line
    padding 12px 0px
    padding 1.2rem 0rem
    background-color $purple-dark-color

    p
        margin-top 0
        hyphens()
        color white
        font-size-func(11)
        font-weight 700
        text-align center

    a
        color white
        text-decoration none

        &:hover
            text-decoration underline
