.bottom-line
    padding2-func(12, 0)
    background-color $purple-dark-color

    p
        hyphens()
        color white
        font-size-func(11)
        font-weight 700
        text-align center
