.btn
    {ibt}
    background-color $purple-light-color
    border-radius 6px
    text-transform uppercase
    text-decoration none
    border none
    color white
    font-size-func(10)
    font-weight 700
    letter-spacing 0.05em
    transition all .05s linear
    ellipsis()

    &:hover
        background-color rgba(167, 115, 180, 0.85)

    &:active
        transform scale(.95)

    &__icon
        width 16px
        height 16px
        position absolute
        left 5px
        top 50%
        transform translateY(-8px)
        border-radius 50%

    &_user
        position relative
        padding 6px 27px 6px 26px

    &_logout
        padding 6px

    &_event
        padding 6px 13px 6px 17px

    &:focus
        outline 1px dotted $purple-light-color

