.btn
    {ibt}
    background-color $purple-light-color
    border-radius 4px
    text-transform uppercase
    text-decoration none
    border none
    color white
    font-size-func(10)
    padding 7px
    padding .7rem 7px
    font-weight 900
    letter-spacing 0.05em
    transition all .1s linear
    ellipsis()

    &__icon
        position absolute
        left 5px
        top 50%
        transform translateY(-10px)
        border-radius 50%

    &_user
        position relative
        padding2-func(7, 28)
        padding-left 28px
        padding-right 28px
