.events
    position relative
    min-height 327px
    background-image url(../img/event.png)
    background-position top center
    background-size cover
    padding 233px 0 29px

    &__text
        margin-left auto
        margin-right auto
        text-align center
        border-radius 5px
        width 86.49%
        background-color rgba(0, 0, 0, 0.6)
        padding 10px

    &__title
        color $green-color
        text-transform uppercase
        font-size-func(15)
        font-weight 700
        margin-top 0
        margin-bottom 7px
        margin-bottom .7rem

    &__descr
        color white
        font-size-func(15)
        font-weight 700
        list-style none
        padding-left 0
        margin-top 0
        margin-bottom 0

        li
            hyphens()

            &:not(:last-child)
                margin-bottom 5px

    &__btn
        position absolute
        top 6.42%
        left 6.76%
        max-width 86.48%
        padding 7px 13px
