.events
    position relative
    min-height 327px
    background url(../img/event.png) top center no-repeat
    background-size cover
    padding 233px 0 29px

    &__text
        //bottom 8.87%
        margin-left auto
        margin-right auto
        text-align center
        border-radius 5px
        width 86.49%
        background-color rgba(0, 0, 0, 0.6)
        padding 10px

    &__title
        color $green-color
        text-transform uppercase
        font-size-func(15)
        font-weight 700
        margin-bottom 7px
        margin-bottom .7rem

    &__descr
        color white
        font-size-func(15)
        font-weight 700

    &__btn
        position absolute
        top 6.42%
        left 6.76%
        max-width 86.48%
        padding 7px 13px
