.header
    background-color #fff
    padding 10px 0px 20px

    @media (min-width 768px)
        padding 19px 0px 5px

    &__authorization
        text-align center
        margin-bottom 20px

        @media (min-width 768px)
            float right
            text-align right
            padding-top 27px
            margin-bottom 0

    &__logo
        text-align center
        margin 0 auto

        @media (min-width 768px)
            float left

        a
            &:focus
                outline 1px dotted $purple-light-color

        img
            {ibt}
