.main
    padding 25px 0
    font-size 0

    &__aside
        margin-bottom 28px

        @media (min-width 768px)
            position sticky
            top 10px
            margin-bottom 0
            float left
            width 160px
            width 16rem

    &__content
        @media (min-width 768px)
            display block
            margin-left 205px
            margin-left 20.5rem

    &__menu
        margin-left -10px
        margin-right -10px

        @media (min-width 768px)
            margin-left 0
            margin-right 0

    &__column
        &:not(:last-child)
            margin-bottom 28px

        &_2
            {ibt}
            width 50%

    &__item
        &:not(:last-child)
            margin-bottom 28px
