.main
    padding 25px 0
    font-size 0

    &__aside
        margin-bottom 28px

        @media (min-width 768px)
            position sticky
            top 10px
            margin-bottom 0
            float left
            width 160px
            width 16rem

    &__content
        @media (min-width 768px)
            display block
            margin-left 205px
            margin-left 20.5rem

    &__menu
        margin-left -10px
        margin-right -10px

        @media (min-width 768px)
            margin-left 0
            margin-right 0

    &__column
        &:not(:last-child)
            margin-bottom 28px

        &_1
            @media (min-width 1100px)
                display inline-block
                width 39.55%
                margin-right 2.45%

        &_2
            @media (min-width 480px)
                {ibt}
                width 48.775%
                margin-right 2.45%

            @media (min-width 1100px)
                width 27.775%

        &_3
            @media (min-width 480px)
                {ibt}
                width 48.775%

            @media (min-width 1100px)
                width 27.775%

    &__item
        &:not(:last-child)
            margin-bottom 28px
