$xs = 768px // min width for full-screen menu

$menu-icon-bgc = white // color menu icon
$menu-btn-c = white // the color of the inscription "MENU"
$menu-btn-bgc = $purple-dark-color // background color of the menu button



//////////////////////////////////////////// Mobile (xs):

// 1 level menu:
$menu-1-bgc-m = $purple-light-color // background color
$menu-1-c-m = white // text color

menu-1-p-m() // padding for a/span
    padding 17px 30px 17px 45px


$menu-1-bw-m = 1px // border width for li
$menu-1-bc-m = $purple-dark-color // border color for li



//////////////////////////////////////////// Desktop (sm):

// 1 level menu:
$menu-1-bgc-d = $purple-light-color // background color
$menu-1-c-d = white // text color

menu-1-p-d() // padding for a/span
    padding 9px 8px 9px 45px



menu__icon()
    cursor pointer
    border-radius 1px
    height 3px
    width 25px
    background-color $menu-icon-bgc
    position absolute
    display block
    content ''
    transition all .2s ease .2s, transform .2s ease 0s

ul()
    list-style none
    padding-left 0
    transition all 0s ease-out 0s

a()
    {ibt}
    width 100%
    font-size-func(16)
    font-weight 700
    line-height 18px
    line-height 1.8rem
    text-transform uppercase
    text-decoration none

.menu
    position relative

    ul
        ul()

    li
        hyphens()

    a
        a()

    span
        {ibt}
        font-size-func(16)
        font-weight 700
        line-height 16px
        line-height 1.6rem
        text-transform uppercase
        text-decoration none
        cursor pointer

    &__btn
        width 100%
        background-color $menu-btn-bgc
        color $menu-btn-c
        width 100%
        text-align left
        position relative
        cursor pointer
        user-select none
        padding-left 45px
        border none
        ellipsis()

        @media (min-width $xs)
            display none

        &.open
            .menu__icon
                background-color transparent

                &:before
                    transform rotate(45deg)
                    top 0
                    transition all .2s ease 0s, transform .2s ease .2s

                &:after
                    transform rotate(-45deg)
                    bottom 0
                    transition all .2s ease 0s, transform .2s ease .2s

    &__icon
        position absolute
        top 50%
        left 10px
        transform translatey(-50%)
        menu__icon()

        &:before, &:after
            menu__icon()

        &:before
            top 8px

        &:after
            bottom 8px

    &__title
        text-transform uppercase
        font-size-func(18)
        padding-top 8px
        padding-bottom 8px
        font-weight 700

    &__ul
        background-color $menu-1-bgc-m
        display none
        max-width 100%

        @media (min-width $xs)
            background-color $menu-1-bgc-d
            display block
            padding 15px 0

        ul
            display none

        span
            width 100%
            font-size-func(12)

        > li
            position relative
            border-bottom $menu-1-bw-m solid $menu-1-bc-m

            @media (min-width $xs)
                border none

            &:last-child
                @media (min-width $xs)
                    margin-right 0

    &__link
        menu-1-p-m()
        color $menu-1-c-m

        @media (min-width $xs)
            menu-1-p-d()
            color $menu-1-c-d

        &:before
            content ''
            position absolute
            left 22px
            top 50%

        &:hover
            background-color rgba(255, 255, 255, 0.15)

        &_dashboard
            &:before
                background-image inline('dashboard-icon.png')
                width 19px
                height 17px
                transform translate(-9px, -8px)

        &_forum
            &:before
                background-image inline('forum-icon.png')
                width 19px
                height 16px
                transform translate(-9px, -8px)

        &_around
            &:before
                background-image inline('getting-around-icon.png')
                width 28px
                height 31px
                transform translate(-14px, -15px)

        &_news
            &:before
                background-image inline('news-icon.png')
                width 17px
                height 16px
                transform translate(-8px, -8px)

        &_events
            &:before
                background-image inline('events-icon.png')
                width 17px
                height 17px
                transform translate(-8px, -8px)

        &_services
            &:before
                background-image inline('services-icon.png')
                width 15px
                height 16px
                transform translate(-7px, -8px)

        &_search
            &:before
                background-image inline('search-icon.png')
                width 14px
                height 17px
                transform translate(-7px, -8px)
