clearfix()
    &:after
        content ""
        display table
        clear both

hyphens()
    word-wrap break-word
    overflow-wrap break-word
    -webkit-hyphens auto
    -ms-hyphens auto
    -moz-hyphens auto
    hyphens auto

ellipsis()
    text-overflow ellipsis
    white-space nowrap
    overflow hidden

font-size-func(size)
    font-size (size)px
    font-size (size/10)rem

padding1-func(all)
    padding (all)px
    padding (all/10)rem

padding2-func(top-bottom, left-right)
    padding (top-bottom)px (left-right)px
    padding (top-bottom/10)rem (left-right/10)rem

padding3-func(top, left-right, bottom)
    padding (top)px (left-right)px (bottom)px
    padding (top/10)rem (left-right/10)rem (bottom/10)rem

padding4-func(top, right, bottom, left)
    padding (top)px (right)px (bottom)px (left)px
    padding (top/10)rem (right/10)rem (bottom/10)rem (left/10)rem

padding-top-func(top)
    padding-top (top)px
    padding-top (top/10)rem

padding-right-func(right)
    padding-right (right)px
    padding-right (right/10)rem

padding-bottom-func(bottom)
    padding-bottom (bottom)px
    padding-bottom (bottom/10)rem

padding-left-func(left)
    padding-left (left)px
    padding-left (left/10)rem
