.more
    font-size 0
    &__item
        position relative
        overflow hidden
        display block
        text-align center
        color $grey-dark-color
        text-decoration none
        text-transform uppercase
        font-weight 700
        min-height 142px

        @media (min-width 400px)
            {ibt}
            width 47.07%

        &:hover
            .more__background
                transform scale(1.2)

        &:focus
            outline 1px dotted $purple-light-color

        &_book
            padding 37px 10px 27px
            line-height 25px
            line-height 2.5rem
            margin-bottom 28px

            @media (min-width 400px)
                margin-right 5.86%
                margin-bottom 0

            & > .more__background
                background-image url(../img/forum.png)


        &_around
            background-position center
            background-size cover
            padding 79px 0px 22px

            & > .more__background
                background-image url(../img/street.png)

            p
                background-color rgba(255, 255, 255, 0.85)
                color $green-color
                padding 10px

        p
            position relative
            hyphens()
            font-size-func(18)
            margin-top 0
            margin-bottom 0

    &__background
        position absolute
        top 0
        right 0
        bottom 0
        left 0
        background-position center
        background-size cover
        transition all .5s ease
