.search
    background-color $purple-ultralight-color
    padding 15px 10px
    font-size 0
    text-align center

    &__text
        display block
        vertical-align middle
        font-size-func(16)
        text-transform uppercase
        font-weight 700
        margin-bottom 10px

        @media (min-width 480px)
            display inline-block
            margin-bottom 0
            margin-right 2.7%

    &__input-group
        position relative
        display inline-block
        text-align left
        padding-right 30px

        @media (min-width 624px)
            width 50%

    &__input
        font-size-func(16)
        padding-left 10px
        padding-right 10px
        height 30px
        height 3rem
        width 100%
        vertical-align middle
        border 1px solid $purple-light-color
        border-right none
        border-top-left-radius 3px
        border-bottom-left-radius 3px

    &__btn
        position absolute
        right 0
        width 30px
        height 30px
        height 3rem
        background $purple-light-color inline("loupe-icon.png") center no-repeat
        vertical-align middle
        border 1px solid $purple-light-color
        border-top-right-radius 3px
        border-bottom-right-radius 3px
