.search
    background-color $purple-ultralight-color
    padding 15px 5px
    font-size 0
    text-align center

    &__text
        display block
        font-size-func(16)
        text-transform uppercase
        font-weight 700
        margin-bottom 10px
        hyphens()

        @media (min-width 480px)
            {ibm}
            margin-bottom 0
            margin-right 2.7%

    &__input-group
        {ibm}
        position relative
        text-align left
        padding-right 30px

        @media (min-width 624px)
            width 50%

        @media (min-width 1100px)
            width 65%

    &__input
        {ibm}
        font-size-func(16)
        padding-left 10px
        padding-right 10px
        height 30px
        height 3rem
        width 100%
        border 1px solid $purple-light-color
        border-right none
        border-top-left-radius 3px
        border-bottom-left-radius 3px

        &:focus
            outline 1px dotted $purple-light-color

    &__btn
        {ibm}
        position absolute
        right 0
        width 30px
        height 30px
        height 3rem
        background-color $purple-light-color
        background-image inline("loupe-icon.png")
        background-position center
        background-repeat no-repeat
        border 1px solid $purple-light-color
        border-top-right-radius 3px
        border-bottom-right-radius 3px

        &:hover
            cursor pointer

        &:active
            background-size 48%

        &:focus
            outline 1px dotted $purple-light-color
