.topics
    padding 31px 15px 25px
    background-color white

    &__title
        margin-top 0
        margin-bottom 29px
        font-size-func(22)
        color $grey-dark-color
        text-transform uppercase

    &__item
        font-size-func(12)
        font-weight 700
        line-height 18px
        line-height 1.8rem

        &:not(:last-child)
            margin-bottom 25px

        p
            margin-top 0

        a
            &:hover
                text-decoration underline

    &__user
        img
            {ibm}

        &_name
            color $grey-light-color
            text-decoration none

        &_section
            color $grey-dark-color
            text-decoration none

    &__act
        &_hidden
            display none

    &__date
        font-size-func(11)



