.topics
    padding 31px 5px 25px 15px
    background-color white

    &__title
        margin-top 0
        margin-bottom 29px
        font-size-func(22)
        hyphens()
        color $grey-dark-color
        text-transform uppercase

    &__item
        font-size-func(12)
        font-weight 700
        line-height 18px
        line-height 1.8rem

        &:not(:last-child)
            margin-bottom 29px

        p
            margin-top 0

        a
            &:hover
                text-decoration underline

            &:focus
                outline 1px dotted $purple-light-color

    &__user
        hyphens()

        img
            {ibm}

        &_name
            color $grey-light-color
            text-decoration none

        &_section
            color $grey-dark-color
            text-decoration none

    &__act
        hyphens()

        &_hidden
            display none

    &__date
        hyphens()
        font-size-func(11)



